
<div class="todoContainer">
<div class="todoApp">	
<h1 id="todoTitle">Todo List</h1>
<form ng-submit="$ctrl.addTodo($ctrl.todo)">
    <input id="toggleAll" type="checkbox" ng-model="checked" ng-click="$ctrl.toggleAll(checked)" ><input id="todoInput" ng-model="$ctrl.todo" type="text" placeholder="What are your todos today?" autofocus/>
</form>

<section>
	<ul id="tabBar" ng-show="$ctrl.todoList.length > 0">
		<li ng-class="{ active: $ctrl.tabIsSet(1) }">
			<a href="" ng-click="$ctrl.setTab(1)">All</a>
		</li>
		<li ng-class="{ active: $ctrl.tabIsSet(2) }">
			<a href="" ng-click="$ctrl.setTab(2)">Active</a>
		</li>
		<li ng-class="{ active: $ctrl.tabIsSet(3) }">
			<a href="" ng-click="$ctrl.setTab(3)">Completed</a>
		</li>
	</ul>
	<div ng-show="$ctrl.tabIsSet(1)">
		<ul class="todolist">
			<li ng-repeat="todo in $ctrl.todoList">
				<div class="view" ng-hide="hideDiv">
					<input class="toggle" type="checkbox" ng-click="$ctrl.toggleTodo(todo)" ng-checked="todo.completed"/>
					<label ng-dblclick="hideDiv=!hideDiv" ng-class="{completed : todo.completed}" ng-init="hideDiv=false">{{todo.todo}}</label>
					<input class="destroy" type="button" value="x" ng-click="$ctrl.deleteTodo(todo, todo.id)"/>
				</div>
				<form ng-show="hideDiv" ng-submit="$ctrl.editTodo(todo, todoText)" >
				  <input class="edit" ng-model="todoText" todo-focus="hideDiv" ng-keyup="$event.keyCode === 13 ? hideDiv=!hideDiv : null" ng-blur="hideDiv" type="text" placeholder="{{todo.todo}}"/>
				</form>
			</li>
		</ul>
	</div>
	<div ng-show="$ctrl.tabIsSet(2)">
		<ul class="todolist">
			<li ng-repeat="todo in $ctrl.todoList | filter: {completed : false}">
				<div class="view" ng-hide="hideDiv">
					<input class="toggle" type="checkbox" ng-click="$ctrl.toggleTodo(todo)" ng-checked="todo.completed"/>
					<label ng-dblclick="hideDiv=!hideDiv" ng-init="hideDiv=false">{{todo.todo}}</label>
					<input class="destroy" type="button" value="x" ng-click="$ctrl.deleteTodo(todo, todo.id)"/>
				</div>
				<form ng-show="hideDiv" ng-submit="$ctrl.editTodo(todo, todoText)" >
				  <input class="edit" ng-model="todoText" todo-focus="hideDiv" ng-keyup="$event.keyCode === 13 ? hideDiv=!hideDiv : null" ng-blur="hideDiv" type="text" placeholder="{{todo.todo}}"/>
				</form>
			</li>
		</ul>
	</div>
	<div ng-show="$ctrl.tabIsSet(3)">
		<ul class="todolist">
			<li ng-repeat="todo in $ctrl.todoList | filter: {completed : true}">
				<div class="view" ng-hide="hideDiv">
					<input class="toggle" type="checkbox" ng-click="$ctrl.toggleTodo(todo)" ng-checked="todo.completed"/>
					<label ng-dblclick="hideDiv=!hideDiv" ng-init="hideDiv=false">{{todo.todo}}</label>
					<button class="destroy" ng-click="$ctrl.deleteTodo(todo, todo.id)">X</button>
				</div>
				<form ng-show="hideDiv" ng-submit="$ctrl.editTodo(todo, todoText)" >
				  <input class="edit" ng-model="todoText" todo-focus="hideDiv" ng-keyup="$event.keyCode === 13 ? hideDiv=!hideDiv : null" ng-blur="hideDiv" type="text" placeholder="{{todo.todo}}"/>
				</form>
			</li>
		</ul>
	</div>
	<div ng-show="$ctrl.todoList.length >= 1">
	  <button id="clearCompleted" ng-click="$ctrl.clearCompleted()">Clear Completed</button>
	</div>

</section>
</div>
</div>


<!-- <ul>
	<li ng-repeat="todo in $ctrl.todoList">
		<div><input type="checkbox" ng-click="$ctrl.toggleTodo(todo)" /><label>{{todo.todo}}</label></div>
	<li>
<ul>
 -->